# Python
__pycache__/
*.pyc
venv/

# Build files
build/
dist/
pkg/
src/
*.pkg.tar.zst

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# ADB binaries
adb
fastboot
adb.exe
fastboot.exe
AdbWinApi.dll
AdbWinUsbApi.dll

